footer {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 100%; //j'ai changé les mesures en pourcentage pour que ça soit 100% adaptatif
  height: 30%; //j'ai changé les mesures en pourcentage pour que ça soit 100% adaptatif
  bottom: -22%; //j'ai changé les mesures en pourcentage pour que ça soit 100% adaptatif
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  transition: bottom 0.7s ease-out;
}

#checkFoot {
  display: none;
}

#checkFoot:checked + label > footer {
  bottom: 0px;
}
